﻿@using ReciboNomina.BODT.Resources
@model ReciboNomina.BODT.Recibo

<div class="col s12 text-danger">
    @Html.ValidationSummary(false)
</div>
<label>Trabajador</label>
@Html.DropDownListFor(m => m.Employee, new SelectList(Model.EmployeeList, "Value", "Text", Model.EmployeeList))