﻿@using ReciboNomina.BODT.Resources
@model ReciboNomina.BODT.Recibo
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Read", "Home", FormMethod.Post, new { @Id = "frmParametersInput", role = "form" }))
{
    @Html.HiddenFor(m => Model.Company)
    @Html.HiddenFor(m => Model.SESA)
    <div>
        <div class="row margin-b-0">
            <div class="col s12">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, @Resources.Common_ValidationErrors, new { @class = "text-danger" })
            </div>
            <div class="col s12 m12 l12">
                <div class="card no-shadow">
                    <div class="card-content">
                        <span class="card-title" style="text-transform:none;">Por favor completar las siguientes opciones para generar la nómina</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-b-0">
            <div class="col s12 m12 l6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Opciones:</span>
                        <div class="row margin-b-0">
                            <div class="col s12">
                                @Html.ValidationMessageFor(m => m.ClassOfPayroll, null, new { @class = "text-danger" })
                            </div>
                            <div class="input-field col s12">
                                @Html.DropDownListFor(m => m.ClassOfPayroll, new SelectList(Model.ClassOfPayrollList, "Value", "Text", Model.ClassOfPayrollList))
                                <label>Clase de Nómina</label>
                            </div>
                            <div class="col s12">
                                @Html.ValidationMessageFor(m => m.TypeOfPayroll, null, new { @class = "text-danger" })
                            </div>
                            <div class="input-field col s12">
                                @Html.DropDownListFor(m => m.TypeOfPayroll, new SelectList(Model.TypeOfPayrollList, "Value", "Text", Model.TypeOfPayrollList))
                                <label>Tipo de Nómina</label>
                            </div>
                            <div class="input-field col s12">
                                <div class="card">
                                    <div class="card-content clearfix">
                                        <p class="range-field">
                                            <input type="range" id="Period" name="Period" min="1" max="24" value="" />
                                        </p>
                                    </div>
                                </div>
                                <label>Período</label>
                            </div>
                            <div class="input-field col s12">
                                <div class="card">
                                    <div class="card-content clearfix">
                                        <p class="range-field">
                                            <input type="range" id="Year" name="Year" min="2016" max="2020" value="" />
                                        </p>
                                    </div>
                                </div>
                                <label>Año</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l6">
                <div class="card">
                    <div class="card-content">
                        <div class="row margin-b-0">
                            <span class="card-title" style="margin-bottom:0px;">Generar en:</span>
                            <div class="col s12">
                                @Html.ValidationMessageFor(m => m.SelectedTypeOfInvoice, null, new { @class = "text-danger" })
                            </div>
                            <div class="col s12">
                                @*<p>
                                    @Html.RadioButtonFor(m => m.SelectedTypeOfInvoice, ReciboNomina.BODT.Recibo.TypeOfInvoice.ByScreen, new { @Id = "rbByScreen" })
                                    <label for="rbByScreen">Por Pantalla</label>
                                </p>*@
                            </div>
                            <div class="col s12">
                                <p>
                                    @Html.RadioButtonFor(model => model.SelectedTypeOfInvoice, ReciboNomina.BODT.Recibo.TypeOfInvoice.ByEmail, new { id = "rbByEmail" })
                                    <label for="rbByEmail">Por Correo</label>
                                </p>
                            </div>
                            <br />
                            <span class="card-title" style="margin-bottom:0px;">Generar vía:</span>
                            <div class="col s12">
                                @Html.ValidationMessageFor(m => m.SelectedGenerateBy, null, new { @class = "text-danger" })
                            </div>
                            <div id="divGeneratedByEmployee" class="col s12">
                                <p>
                                    @Html.RadioButtonFor(m => m.SelectedGenerateBy, ReciboNomina.BODT.Recibo.GenerateBy.Employee, new { @Id = "rbByEmployee" })
                                    <label for="rbByEmployee">Trabajador</label>
                                </p>
                                <div id="ddlEmployees">

                                </div>
                            </div>
                            <div class="col s12">
                                <p>
                                    @Html.RadioButtonFor(m => m.SelectedGenerateBy, ReciboNomina.BODT.Recibo.GenerateBy.ClassOfPayroll, new { @Id = "rbByClassOfPayroll" })
                                    <label for="rbByClassOfPayroll">Clase de Nómina</label>
                                </p>
                            </div>
                            <br />
                            <div class="col s12">
                                <span class="card-title" style="margin-bottom:0px;">Seguridad</span>
                                <p>
                                    <input type="checkbox" id="test6">
                                    <label for="test6">Habilitar</label>
                                </p>
                                <div class="input-field col s6">
                                    <input disabled="" value="Clave Aquí..." id="disabled" type="text" class="validate" style="margin-bottom:10px;">
                                    <label for="disabled" class="active">Clave</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-b-0">
            <div class="col s12 m12 l12">
                <button type="submit" id="btn_Registrar" class="waves-effect waves-light btn-large indigo">Registrar</button>
            </div>
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();

        if (@Model.Year != null) {
            $("#Year").val(@Model.Year);
        }
        else {
            $("#Year").val(yyyy);
        }

        if (@Model.Period != null) {
            $("#Period").val(@Model.Period);
        }
        else {
            $("#Period").val(mm);
        }
        showEmployees();
    });

    function showEmployees() {
        $("#rbByEmployee").click(function () {
            //$("#ddlEmployees").show();

            var dataToPost = $("#frmParametersInput").serialize();

            $.post("@Url.Action("GetEmployess", "Home")", dataToPost, function (data, textStatus, jqXHR) {
                $("#ddlEmployees").empty();
                $("#ddlEmployees").append(data);
                $("#Employee").css("display", "block");
                $("#ddlEmployees").show();
            }).fail(function (data) {
                console.log(data);
                if (data.status == 500) {
                    var message = "Error generando la nómina: "+'@Model.Error';
                    alert(message);
                }

            });
            $("#rbByClassOfPayroll").click(function () {
                $("#ddlEmployees").hide();
            });
        });
    }
    </script>
}