﻿@using ReciboNomina.FrontEnd.Models
@using ReciboNomina.BODT.Resources;
@model ReciboNomina.BODT.Recibo
@{
    ViewBag.Title = "Seleccionar compañía";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="display-table">
    <div class="vertical-middle">
        <div class="container">
            <div class="row margin-b-0">
                <div class="col s12 l4 offset-l4">
                    <div class="card margin-b-0">
                        <div class="card-content">
                            <span class="card-title center-align">Seleccionar Compañía</span>
                            <div class="row">
                                @using (Html.BeginForm("Read", "Account", FormMethod.Post, new { @class = "col s12 margin-b-0", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(m => m.SESA)
                                    <div class="col s12">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="input-field col s12 margin-b-20">
                                        @Html.DropDownListFor(m => m.Company, new SelectList(Model.CompanyList, "Value", "Text", Model.CompanyList), new { @class = "validate" })
                                        @Html.LabelFor(m => m.Company)
                                    </div>
                                    <div class="col s12 right-align margin-b-20">
                                        <button type="submit" class="waves-effect waves-light btn teal btn-block">Acceder</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            console.log("ready!");
        });
    </script>
}
