﻿@model ReciboNomina.BODT.ReportInfo
@{
    ViewBag.Title = "Recibo por pantalla";
}

<h2>Recibo por pantalla</h2>

<iframe id="frmReport" src="@Model.ReportURL" frameborder="0" 
        style="@String.Format("width:{0}%; height: {1}px;", Model.Width, Model.Height)" scrolling="no">
</iframe>

