﻿@using ReciboNomina.BODT.Resources;
@{
    String controller = ViewContext.RouteData.GetRequiredString("controller");
}
<div class="pull-right" style="padding-bottom:8px;">
    <div class="btn-group">
        <a class="btn btn-sm btn-default" id="btRefresh" onclick="gvDynamicTable.PerformCallback('refresh');" title="@Resources.Common_Refresh">
            <i class="material-icons dp48">loop</i>
        </a>
        <a id="btnExportTo" class="btn btn-sm btn-info" href="@Url.Action("ExportTo", controller)" title="@Resources.Common_Export">
            <i class="material-icons dp48">import_export</i>
        </a>
    </div>
</div>

