﻿@using DevExpress.Web.Mvc.UI;
@using DevExpress.Web.Mvc;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Generación Recibos de Pago</title>
    @Styles.Render("~/Content/css")
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
        new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
        new Script { ExtensionSuite = ExtensionSuite.Chart },
        new Script { ExtensionSuite = ExtensionSuite.TreeList }
    )
   
</head>
<body>
    <div id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end preloader-->
    <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\Start top bar header\\\\\\\\\\\\\\\\\\\\\\\-->
    <header id="header" class="top-bar">
        <div class="navbar-fixed">
            <nav class="teal">
                <div class="nav-wrapper">
                    <ul class="left">
                        <li><h1 class="logo-wrapper center-align"><a href="@Url.Action("Read", "Home")" class="brand-logo" style="text-transform:capitalize;">Schneider Electric</a></h1></li>
                    </ul>
                    <ul class="right col s9 m3 nav-right-menu">
                        <li><a class='dropdown-button  dropdown-right' href='#' data-activates='dropdown'><img src="~/Content/images/avatar-03.png" alt="" width="40"></a></li>
                    </ul>
                    <!-- Dropdown Structure -->
                    <ul id='dropdown' class='dropdown-content profile-dropdown'>
                        <li><a href="@Url.Action("LogOff", "Account")">Logout</a></li>
                    </ul>
                    <ul id='dropdown2' class='dropdown-content notifications-dropdown'></ul>
                </div>
            </nav>
        </div>
    </header>
    <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\End top bar header\\\\\\\\\\\\\\\\\\\\\\\-->
    <!--\\\\\\\\\\\\\\\\\\\ Start left side nav\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    @{
        string user = string.Empty, comp = string.Empty;
        if (Session["User"] != null)
        {
            user = Session["User"].ToString();
        }

        if (Session["User"] != null)
        {
            comp = Session["Company"].ToString();
        }
    }
    <aside id="slide-out" class="side-nav white fixed">
        <div class="side-nav-wrapper">
            <ul class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">
                <li class="nav-title">Generar Recibos</li>
                <li class="no-padding">
                    <a class="collapsible-header waves-effect waves-grey"><i class="material-icons">recibos</i>Recibos De Empleados</a>
                    <div class="collapsible-body" style="display: none;">
                        <ul>
                            <li><a href="@Url.Action("Read", "Home")">Generar nómina</a></li>
                            <li><a href="@Url.Action("GetAllPayrollInvoices", "Home", new { userName = user, company = comp })">Ver Nóminas Generadas</a></li>
                            <li><a href="@Url.Action("Read", "Account")">Seleccionar compañía</a></li>
                        </ul>
                    </div>
                <li class="footer center">
                </li>
            </ul>
        </div>
    </aside>
    <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
    <!--//////////////////End left side nav/////////////////-->
    <main class="main-content">
        <div class="page-content">
            @RenderBody()
        </div>
    </main>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
