/*
M
*/
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/-L14Jk06m6pUHB-5mXQQnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/I3S1wsgSg9YCurV6PUkTORJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/NYDWBdD4gIq26G5XYbHsFBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/ZLqKeelYbATG60EpZBSDyxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/rGvHdJnr2l75qb0YND9NyBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/mx9Uck6uB63VIKFYnEMXrRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/mbmhprMH69Zi6eEPBYVFhRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/oOeFwZNlrTefzLYmlVV1UBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/77FXFjRbGzN4aCrSFhlh3hJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHThJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/UX6i4JxQDm3fVTc1CPuwqhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/jSN2CGVDbcVyCnfJfjSdfBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/PwZc-YbIL414wB9rB1IAPRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aWxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/s7gftie1JANC-QmDJvMWZhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/3Y_xCyt7TNunMGg0Et2pnhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/WeQRRE07FDkIrr29oHQgHBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/jyIYROCkJM3gZ4KV00YXOBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/phsu-QZXz1JBv0PbFoPmEBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/9_7S_tWeGDh5Pq3u05RVkhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0atzTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0atzUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at0bcKLIaa1LC45dFaAfauRA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at2o_sUJ8uO4YLWRInS22T3Y.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at76up8jxqWt8HVA3mDhkV_0.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0atyYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/WxrXJa0C3KdtC7lMafG4dRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/OpXUqTo0UgQQhGj_SFdLWBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/1hZf02POANh32k2VkgEoUBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/cDKhRaXnQTOVbaoxwdOr9xTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/K23cxWVTrIFD6DJsEVi07RTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/vSzulfKSK0LLjjfeaxcREhTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/*
Basic styles
*/
html, body {
  height: 100%;
  font-family: 'Roboto',Arial, sans-serif;
}

body {
  color: #4d4d4d;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Roboto',Arial, sans-serif;
  background: #eee;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0 !important;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

* {
  outline: 0 !important;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 30px;
  line-height: 38px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 24px;
}

.main-content {
  padding-bottom: 0px;
  position: relative;
}

.page-content {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.side-nav li.footer {
  padding-top: 20px;
  margin-top: 20px;
}

#sidenav-overlay {
  display: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.overflow-hidden {
  overflow: hidden;
}

@media (min-width: 992px) {
  .main-content, main, footer, .footer {
    padding-left: 240px;
  }
}
.margin-v-0 {
  margin: 0 !important;
}

margin-t-0 {
  margin-top: 0 !important;
}

.margin-b-0 {
  margin-bottom: 0 !important;
}

.margin-b-5 {
  margin-bottom: 5px !important;
}

.margin-b-10 {
  margin-bottom: 10px !important;
}

.margin-b-15 {
  margin-bottom: 15px !important;
}

.margin-b-20 {
  margin-bottom: 20px !important;
}

.margin-b-25 {
  margin-bottom: 25px !important;
}

.margin-b-30 {
  margin-bottom: 30px !important;
}

.margin-b-35 {
  margin-bottom: 35px !important;
}

.margin-b-40 {
  margin-bottom: 40px !important;
}

.margin-b-45 {
  margin-bottom: 45px !important;
}

.margin-b-50 {
  margin-bottom: 50px !important;
}

.font-300 {
  font-weight: 300 !important;
}

.font-400 {
  font-weight: 400 !important;
}

.font-700 {
  font-weight: 700 !important;
}

.small-text {
  font-size: 12px !important;
  line-height: 16px !important;
}

code {
  font-size: 85%;
  display: inline-block;
  background-color: #F44336;
  color: #fff;
  border-radius: 3px;
  white-space: pre-wrap;
  padding: 0px 5px;
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}
.display-table .vertical-middle {
  vertical-align: middle;
  display: table-cell;
  width: 100%;
}

.btn-block {
  width: 100%;
  display: block;
}

.center-img {
  display: block;
  margin: 0 auto;
}

blockquote {
  border-left: 5px solid #3f51b5;
}

.clearfix:before, .clearfix:after {
  content: "";
  clear: both;
  display: table;
}

code, pre {
  position: relative;
  font-size: 1.1rem;
}

pre[class*="language-"] {
  padding: 25px 12px 7px 12px;
  border: solid 1px rgba(51, 51, 51, 0.12);
}
pre[class*="language-"]:before {
  position: absolute;
  padding: 1px 5px;
  background: #e8e6e3;
  top: 0;
  left: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #555;
  content: attr(class);
  font-size: .9rem;
  border: solid 1px rgba(51, 51, 51, 0.12);
  border-top: none;
  border-left: none;
}

code[class*="language-"], pre[class*="language-"] {
  color: black;
  font-family: "Roboto", sans-serif;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: transparent;
  font-weight: 300;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #f5f2f0;
}

.token.atrule, .token.attr-value, .token.keyword {
  color: #07a;
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
  color: #690;
}

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
  color: #905;
}

.token.function {
  color: #DD4A68;
}

.token.punctuation {
  color: #999;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: slategray;
}

.icon-preview {
  height: 100px;
  text-align: center;
}
.icon-preview i {
  font-size: 3em;
  margin-bottom: 10px;
  overflow: hidden;
  display: block;
}

.card .card-content form p {
  margin-bottom: 10px !important;
  text-align: left;
}

.tag-about {
  color: #fff;
  padding: 2px 6px;
  display: inline-block;
  font-size: 12px;
  border-radius: 2px;
}

.progress {
  background: #f5f5f5;
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff;
}

div#preloader .preloader-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -39px;
  margin-top: -39px;
}

/*
Buttons style
*/
.btn.white {
  color: #333;
}

/*
Left navigation Style
*/
.side-nav {
  padding: 0 !important;
  height: calc(100% - 64px) !important;
  margin-top: 64px;
  z-index: 997;
}

.side-nav a {
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0px 16px;
}

.side-nav .sidebar-menu li.nav-title {
  padding: 0px 16px;
  font-size: 13px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.side-nav li > a > i {
  margin: 0 20px 0 0;
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.side-nav li > a.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
  padding: 0 23.5px 0 55px;
  height: auto;
  line-height: 38px;
  font-size: 13px;
  font-weight: 400;
}

.collapsible-header:after {
  font-family: "Ionicons";
  content: "\f489";
  float: right;
  color: #9e9e9e;
  font-size: 18px;
}

.collapsible-header.active:after {
  content: "\f462";
}

.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
  margin: 0 15px 0 0;
}

/**dark sidenav**/
.side-nav.dark-side-nav a, .side-nav.dark-side-nav .sidebar-menu li.nav-title {
  color: rgba(255, 255, 255, 0.87);
}

.side-nav.dark-side-nav li > a > i, .side-nav.dark-side-nav li > a > [class^="mdi-"], .side-nav.dark-side-nav li > a > [class*="mdi-"], .side-nav.dark-side-nav li > a > i.material-icons {
  color: rgba(255, 255, 255, 0.87);
}

.side-nav.dark-side-nav .collapsible-body, .side-nav.fixed.dark-side-nav .collapsible-body {
  background: transparent;
}

.side-nav.dark-side-nav li > a.active {
  background: rgba(255, 255, 255, 0.1);
}

/*
Top bar
*/
header .brand-logo {
  margin: 0px 0;
  padding: 0px 20px;
  line-height: 64px;
  top: 0;
  width: 240px;
}

nav .brand-logo {
  font-size: 17px;
  text-transform: uppercase;
}

.notifications-dropdown {
  overflow-y: visible;
  top: 64px !important;
  padding: 0 !important;
}

.notifications-dropdown {
  width: 300px !important;
  max-height: 320px;
  overflow-y: auto;
  padding: 5px 0;
  cursor: auto !important;
}

a.button-collapse {
  position: fixed;
  color: #fff;
  top: 0;
  left: 0;
  z-index: 999;
  width: 50px;
  height: 64px;
  line-height: 76px;
  text-align: center;
  display: block;
}

.nav-right-menu > li > a {
  position: relative;
}
.nav-right-menu > li > a .badge {
  position: absolute;
  top: 14px;
  right: 9px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #000;
  border-radius: 50%;
  padding: 0;
  line-height: 18px;
  min-width: 0;
  font-size: 12px;
  color: #fff;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  font-size: 24px;
}

.nav-right-menu > li > a img {
  display: inline-block;
  border-radius: 0px;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 30px;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 14px;
}

.profile-dropdown {
  top: 64px !important;
  width: 150px !important;
}

.notifications-dropdown .notification-header {
  cursor: default;
  padding: 15px 15px;
  min-height: 0;
  font-size: 13px;
  line-height: 13px;
  border-bottom: 1px solid #eee;
}
.notifications-dropdown .notification-header:hover {
  background: transparent;
}
.notifications-dropdown img.left, .notifications-dropdown i.left {
  margin-right: 15px;
}
.notifications-dropdown i.left {
  line-height: 40px;
}
.notifications-dropdown .notify-content {
  overflow: hidden;
}
.notifications-dropdown .notify-content .notify-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;
}
.notifications-dropdown .notify-content p {
  margin: 0;
  color: #888;
  font-size: 13px;
  line-height: 18px;
}

nav .input-field input {
  font-size: 14px;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #666;
}

/**light top bar**/
nav.light-navbar .brand-logo {
  color: #333;
}
nav.light-navbar .input-field label.active i {
  color: #999;
}
nav.light-navbar ul a {
  color: #999;
}

body.layout-dark-light a.button-collapse {
  color: #999;
}

/*
Right sidebar style
*/
.side-nav-wrapper .input-field {
  margin-top: 0px;
  position: relative;
}

.chat-list .chat-item {
  line-height: inherit;
}
.chat-list .chat-item a {
  height: auto;
  line-height: inherit;
  padding: 10px 15px;
}
.chat-list .chat-item a img {
  margin-right: 10px;
}
.chat-list .chat-item a h5 {
  margin: 0px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
.chat-list .chat-item a span {
  font-size: 12px;
  line-height: 16px;
}

/*
Card styles
*/
.card, .z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.04), 0 1px 5px 0 rgba(0, 0, 0, 0.02), 0 3px 1px -2px rgba(0, 0, 0, 0.01);
}

.card {
  margin-top: 0px;
  margin-bottom: 20px;
}
.card .card-content .card-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: capitalize;
  display: block;
  margin-bottom: 20px;
  color: #333;
}
.card .card-content .card-title .subtitle {
  font-size: 12px;
  color: #aeaeae;
  display: block;
  font-weight: 400;
  text-transform: capitalize;
}
.card .card-content .card-title .subtitle > code.language-markup {
  text-transform: lowercase !important;
}
.card.no-shadow {
  box-shadow: none;
  background-color: transparent;
}
.card.no-shadow .card-content {
  padding: 0px;
}

.card-actions {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  padding: 20px;
}
.card-actions > ul {
  margin: 0px;
}
.card-actions > ul > li {
  float: left;
  display: block;
}
.card-actions > ul > li + li {
  margin-left: 8px;
}
.card-actions > ul > li > a {
  display: block;
}
.card-actions > ul > li > a i {
  font-size: 18px;
  color: #999;
}
.card-actions > ul > li > a i:hover {
  color: #000;
}

.card-dropdown {
  width: 160px !important;
}
.card-dropdown > li {
  min-height: 100%;
}
.card-dropdown > li > a {
  padding: 6px 16px;
  color: #999;
  text-transform: capitalize;
  font-size: 13px;
}

.card-panel {
  margin-top: 0px;
  margin-bottom: 20px;
}

.ui-sortable .sortable-title {
  cursor: move;
}

.ui-sortable-placeholder {
  border: 1px dashed #cecece !important;
  visibility: visible !important;
  background: #e7eaec;
}

.card.ui-sortable-placeholder {
  margin: 0 0 23px !important;
}

.dd3-handle:before {
  content: "\E5D2";
  font-family: 'Material Icons';
}

.card-profile-image {
  width: 60px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: -60px;
  z-index: 9;
  background: #f5f5f5;
  cursor: pointer;
}

.profile-card span.card-title {
  font-size: 20px !important;
  display: block;
  margin-top: 15px;
}
.profile-card .card-content p {
  font-size: 1rem;
  margin: 5px 0 6px;
}
.profile-card .card-content p i {
  vertical-align: middle;
  margin-right: 10px;
}

.profile-detail-button {
  position: relative;
  margin-top: -80px;
}

.profile-reveal {
  z-index: 99 !important;
}

.profile-reveal p {
  font-size: 1rem;
  margin: 10px 0 12px;
}
.profile-reveal p i {
  vertical-align: middle;
  margin-right: 10px;
}

/**misc pages style 404 login, register etc.**/
.material-bg {
  background: url("../images/bg1.jpg") no-repeat center center;
}

.error-digit {
  color: #fff;
  font-size: 100px;
  line-height: 100px;
  text-align: center;
}

.error-text {
  color: #fff;
}

.page-login-register {
  background: #fff;
}

/*
Template widgets (Reusable)
*/
.widget_1 {
  background: #fff;
  padding: 20px 15px;
}
.widget_1 i {
  display: block;
  margin: 0 auto;
  font-size: 60px;
  float: left;
  margin-right: 20px;
  width: 60px;
}
.widget_1 .content {
  overflow: hidden;
  text-align: right;
}

.avtar-list li {
  vertical-align: middle;
  padding-top: 15px;
}
.avtar-list li:first-child {
  padding-top: 0px;
}
.avtar-list li a {
  display: block;
}
.avtar-list li a .avtar {
  display: block;
  float: left;
  vertical-align: middle;
  margin-right: 15px;
  margin-top: -3px;
}
.avtar-list li a .content {
  overflow: hidden;
  vertical-align: middle;
}

.activity-list li {
  position: relative;
  border-left: 1px solid #ccc;
  padding-bottom: 15px;
  vertical-align: middle;
}
.activity-list li:before {
  content: '';
  position: absolute;
  left: -6px;
  top: 3px;
  background-color: #ccc;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.activity-list li a {
  margin-left: 30px;
  display: block;
}
.activity-list li a span {
  display: block;
  margin-top: -3px;
}
.activity-list li:last-child {
  padding-bottom: 0px;
}
.activity-list li.blue-color {
  border-left-color: #2196F3;
}
.activity-list li.blue-color:before {
  background-color: #2196F3;
}
.activity-list li.green-color {
  border-left-color: #4CAF50;
}
.activity-list li.green-color:before {
  background-color: #4CAF50;
}
.activity-list li.indigo-color {
  border-left-color: #3f51b5;
}
.activity-list li.indigo-color:before {
  background-color: #3f51b5;
}
.activity-list li.red-color {
  border-left-color: #F44336;
}
.activity-list li.red-color:before {
  background-color: #F44336;
}
.activity-list li.teal-color {
  border-left-color: #009688;
}
.activity-list li.teal-color:before {
  background-color: #009688;
}
.activity-list li.yellow-color {
  border-left-color: #ffeb3b;
}
.activity-list li.yellow-color:before {
  background-color: #ffeb3b;
}

.collections-list {
  margin-left: -20px;
  margin-right: -20px;
  position: relative;
}
.collections-list > li {
  padding: 10px 10px;
  border-top: 1px solid #eee;
}
.collections-list > li:last-child {
  padding-bottom: 0px;
}
.collections-list .collections-title {
  font-weight: 500;
  color: #000;
  font-size: 15px;
  margin-bottom: 0;
  line-height: 22px;
}
.collections-list .collections-content {
  font-size: 13px;
  color: #999;
}
.collections-list .tag-about {
  margin-top: 10px;
  margin-bottom: 5px;
}

/*
Tabs style
*/
.tabs .tab a {
  color: #009688;
}
.tabs .tab a:hover {
  color: #009688;
}

.tabs .tab.disabled a {
  color: #009688;
  cursor: default;
  opacity: 0.5;
}

.tabs .indicator {
  background-color: #009688;
}

.tabs {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: #009688;
}

/*
Data table customize
*/
table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer {
  border-bottom: 0px;
}

.dataTables_length select {
  height: 2rem;
  display: block;
}

.dataTables_filter input {
  width: 250px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-image: none;
  border: 0px;
  background-color: #009688;
  color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-image: none;
  border-color: #009688;
  background-color: #009688;
}

/*
Calendar
*/
#external-events h4 {
  font-weight: 400;
  font-size: 14px;
}

#external-events .fc-event {
  background: #009688;
  padding: 7px 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 10px;
}

.fc-button {
  color: inherit;
  border: 1px solid  #eee;
  cursor: pointer;
  display: inline-block;
  height: 1.9em;
  line-height: 1.9em;
  overflow: hidden;
  padding: 0 0.6em;
  position: relative;
  white-space: nowrap;
}
.fc-button:focus {
  background: #009688;
  color: #fff;
}

.fc-state-default {
  background-color: #ffffff;
  background-image: none;
  background-repeat: repeat-x;
  box-shadow: none;
  color: inherit;
  text-shadow: none;
}

.fc-state-active {
  background-color: #009688;
  border-color: #009688;
  color: #ffffff;
}

.fc-center h2 {
  font-weight: 300;
}

.fc-widget-header .fc-day-header {
  padding: 12px 0;
  background: #f5f5f5;
}

.fc-ltr .fc-basic-view .fc-day-number {
  text-align: center;
}

.fc-event, .fc-agenda .fc-event-time, .fc-event a {
  padding: 4px 6px;
  background-color: #009688;
  border-color: #009688;
}

/*
Pricing Tables
*/
.price-header {
  margin-bottom: 30px;
}

.price-value {
  font-size: 90px;
  line-height: 90px;
  position: relative;
  display: inline-block;
}
.price-value sup, .price-value sub {
  font-size: 12px;
  display: inline-block;
  position: absolute;
}
.price-value sup {
  left: 0;
  top: 5px;
}
.price-value sub {
  right: -10px;
  bottom: 0;
}

.price-features li {
  display: block;
  padding: 10px 15px;
}
.price-features li:nth-child(even) {
  background: #eee;
}

/*
Charts style
*/
.legend > div {
  width: auto !important;
}

.legend table {
  width: auto !important;
  top: 0;
}
.legend table td, .legend table th {
  padding: 0px 5px;
}

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.flot-chart {
  width: 100%;
  height: 300px;
}
.flot-chart .flot-chart-content {
  width: 100%;
  height: 100%;
}

#flot-pie-chart .legend table {
  width: 75px;
  height: 36px;
}
#flot-pie-chart .legend table td {
  padding: 2px 5px !important;
}

#multi-axes-line .legend > div {
  position: absolute;
  width: 138px !important;
  height: 28px !important;
  bottom: 34px !important;
  left: 28px !important;
  background-color: white;
  opacity: 0.85;
}

#multi-axes-line .legend table td {
  padding: 2px 5px !important;
}

.chart-legend-horizontal {
  margin-bottom: 10px;
  color: #999;
}
.chart-legend-horizontal > li {
  display: inline-block;
  padding: 0px 10px;
}
.chart-legend-horizontal span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-right: 4px;
}

.flot-pie-label {
  background: #f5f5f5;
  padding: 3px 6px;
}

/*
Template responsive css
*/
@media (max-width: 600px) {
    nav {
        height: 64px;
        line-height: 64px;
    }

    header .brand-logo {
        width: auto;
    }

    nav .brand-logo {
        left: 50px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .page-content {
        padding-left: 0px;
        padding-right: 0px;
    }
    .content {
        min-height: 250px;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
  }
}
