﻿@using ReciboNomina.FrontEnd.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.ReturnUrl = "/Account/Read";
}
<div class="display-table">
    <div class="vertical-middle">
        <div class="container">
            <div class="row margin-b-0">
                <div class="col s12 l4 offset-l4">
                    <div class="card margin-b-0">
                        <div class="card-content">
                            <span class="card-title center-align">Acceder: Generación Recibos de Pago</span>
                            <div class="row">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "col s12 margin-b-0", role = "form" }))
                                { 
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="input-field col s12">
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "validate" })
                                            @Html.LabelFor(m => m.UserName)
                                    </div>
                                    <div class="input-field col s12 margin-b-20">
                                        @Html.PasswordFor(m => m.Password, new { @class = "validate" })
                                        @Html.LabelFor(m => m.Password)
                                    </div>
                                    @*
                                    <div class="input-field col s12 margin-b-20">
                                        @Html.DropDownListFor(m => m.Source, new SelectList(Model.SourceList, "Value", "Text", Model.SourceList), new { @class = "validate" })
                                        @Html.LabelFor(m => m.Source)
                                    </div>
                                    *@
                                    <div class="col s12 right-align margin-b-20">
                                        <button type="submit" class="waves-effect waves-light btn teal btn-block">Acceder</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}